.tagWrap {
  &.small {
    padding-left: 0;
  }

  &.medium {
    padding-left: 1rem;
    @include mobile {
      padding-left: 0;
    }
  }

  &.large {
    padding-left: 2rem;
    @include mobile {
      padding-left: 0;
    }
  }

  .tag {
    display: flex;
    gap: 0.5rem;
    @include fontSize;
    @include mobile {
      gap: 0.2rem;
    }

    .tagName {
      color: var(--tagName);
    }
    .attr {
      color: var(--attr);
    }
    .attrValue {
      color: var(--attrValue);
    }
  }

  .children {
    & > * {
      padding: 1rem 0 1rem 1rem;
      @include fontSize;
      @include mobile {
        padding: 0.5rem 0;
      }

      span {
        font-size: 1rem;
        color: #8e8e8e;
        @include mobile {
          font-size: 0.875rem;
        }
      }
    }
  }
}
