.button {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  color: $fontColor;
  border-radius: 5px;
  @include mobile {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  &.fill {
    background-color: $pointColor;
  }

  &.empty {
    border: 1px solid $pointColor;
  }
}
