.sidebarContainer {
  min-width: 200px;
  background-color: var(--mainColor);
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  @include tablet {
    min-width: 150px;
    @include mobile {
      display: none;
    }
  }

  .explorer {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .dropDown {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 2rem 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
}
