@import "mixins";

// Colors
$background: #fff;
$mainColor: #ddd;
$subColor: #fff;

/* ----------------------- start: flex custom --------------------- */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-align-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* ----------------------- end: flex custom ----------------------- */
