@import "mixins";

// Colors
$background: #24292f;
$mainColor: #1f2428;
$subColor: #24292f;
$fontColor: #dfdfdf;
// $borderColor: #161a1d;
$borderColor: #24292f;
$pointColor: #fa826c;

.container {
  padding: 3rem 2rem;
  transition: all 1s ease;
  @include tablet {
    padding: 2rem 1rem;
  }
}

/* ----------------------- start: flex custom --------------------- */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-align-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* ----------------------- end: flex custom ----------------------- */
