@import "mixins";

// Colors
$background: #ffffff;
$mainColor: #dddddd;
$subColor: #000000;

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  transition: all 1s ease;
  @include tablet {
    padding: 0 24px;
    @include mobile {
      padding: 0 16px;
    }
  }
}

/* ----------------------- start: flex custom --------------------- */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-align-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* ----------------------- end: flex custom ----------------------- */
