@import "reset";
@import "mixins";
@import "variables";

html,
body {
  height: 0;
  min-height: 100vh;
  background-color: $background;
  color: $fontColor;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  @include mobile {
    min-width: 375px;
  }
}
