.tabWrap {
  display: flex;
  height: calc(100vh - 35px - 28px);

  .mainWrap {
    flex: 1;
    @include tablet {
      overflow: hidden;
    }
  }
}

.mainPage {
  @include flex-center;
  flex-direction: column;

  .vsCodeImg {
    width: 50vw;
    height: 50vh;
    color: var(--mainColor);
  }

  .homeTitleWrap {
    @include flex-center;
    flex-direction: column;
    gap: 1.5rem;

    .homeTitle {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      @include tablet {
        font-size: 2rem;
        @include mobile {
          font-size: 1.125rem;
        }
      }
    }

    .homeSubTitle {
      font-size: 1.5rem;
      margin-top: -1rem;
      @include mobile {
        font-size: 1rem;
      }
    }

    .buttonWrap {
      display: flex;
      gap: 10px;
    }
  }
}
