.header {
  @include flex-between;
  padding: 8px;
  background-color: $mainColor;
  border-bottom: 1px solid $borderColor;

  .titleWrap {
    display: flex;
    align-items: center;
    gap: 1rem;

    .vsCodeIcon {
      font-size: 1.25rem;
      color: #37a8f2;
    }

    .title {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      gap: 1rem;
      @include tablet {
        display: none;
      }
    }
  }

  .name {
    font-size: 0.875rem;
    @include mobile {
      font-size: 0.8125rem;
    }
  }

  .dotWrap {
    display: flex;
    gap: 5px;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 100px;

      &.red {
        background-color: #ec6a5e;
      }

      &.yellow {
        background-color: #f4be4f;
      }

      &.green {
        background-color: #61c555;
      }
    }
  }
}
