.tagWrap {
  &.small {
    padding-left: 0;
  }

  &.medium {
    padding-left: 1rem;
  }

  &.large {
    padding-left: 2rem;
  }

  .tag {
    font-size: 1.125rem;
    display: flex;
    gap: 0.5rem;
    @include tablet {
      font-size: 1rem;
      @include mobile {
        font-size: 0.875rem;
      }
    }

    .tagName {
      color: #c15764;
    }
    .attr {
      color: #cf905a;
    }
    .attrValue {
      color: #82b669;
    }
  }

  .children {
    padding-left: 1rem;
  }
}
