.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background: $background;
    border-radius: 8px;
    max-width: 1000px;
    width: 90%;
    height: 90%;
    position: relative;
    overflow: hidden;

    .closeButton {
      position: absolute;
      top: 8px;
      right: 8px;
      background: none;
      border: none;
      font-size: 2rem;
      z-index: 10;
      cursor: pointer;
      @include flex-center;
    }

    .modalBody {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      overflow-y: scroll;
      height: 100%;
      gap: 3rem;

      .imageWrap {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: top;
          border-radius: 8px;
        }
      }

      .titleWrap {
        display: flex;
        align-items: baseline;
        gap: 10px;
        margin-bottom: 1rem;

        .mainTitle {
          font-size: 2rem;
          font-weight: 800;
        }

        .description {
          font-size: 0.875rem;
        }
      }

      .subTitle {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $fontColor;
      }
      .url {
        .subTitle {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .github {
            @include flex-center;
            margin-top: 0.25rem;
            transition: all 0.2s ease;

            &:hover {
              color: $pointColor;
            }
          }
        }

        .link {
          font-size: 1.25rem;
          transition: all 0.2s ease;

          &:hover {
            color: $pointColor;
          }
        }
      }

      .techStack {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          li {
            font-size: 0.875rem;
            font-weight: 300;
            border: 1px solid $fontColor;
            border-radius: 100px;
            padding: 0.3rem 1rem;
          }
        }
      }

      .pageWrap {
        .pageList {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .pageItem {
            .pageTitle {
              font-size: 1.25rem;
              font-weight: 600;
            }

            .skillDescription {
              list-style-type: disc;
              margin: 0.5rem 0 1rem 0.5rem;
              display: flex;
              flex-direction: column;
              gap: 8px;

              li {
                font-size: 1rem;
                font-weight: 300;
                margin-left: 20px;
                line-height: 1.4;
              }
            }

            img {
              width: 100%;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
