.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background: var(--background);
    border-radius: 8px;
    max-width: 1000px;
    width: 90%;
    height: 90%;
    position: relative;
    overflow: hidden;

    .closeButton {
      position: absolute;
      top: 8px;
      right: 8px;
      background: none;
      border: none;
      font-size: 2rem;
      z-index: 10;
      cursor: pointer;
      @include flex-center;
    }

    .modalBody {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      overflow-y: scroll;
      height: 100%;
      gap: 3rem;
      @include mobile {
        padding: 1rem;
        gap: 2rem;
      }

      .imageWrap {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;
        @include tablet {
          height: 330px;
          @include mobile {
            height: 160px;
          }
        }

        img {
          object-fit: cover;
          object-position: top;
          border-radius: 8px;
        }
      }

      .titleWrap {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        margin-bottom: 1rem;

        .mainTitle {
          font-size: 2rem;
          font-weight: 800;
          @include tablet {
            font-size: 1.5rem;
          }
        }

        .description {
          font-size: 0.875rem;
        }
      }

      .subTitle {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $fontColor;
        @include tablet {
          font-size: 1.25rem;
        }
      }

      .url {
        .subTitle {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .github {
            @include flex-center;
            transition: all 0.2s ease;
          }
        }

        .link {
          font-size: 1.25rem;
          transition: all 0.2s ease;
          @include tablet {
            font-size: 1rem;
            @include mobile {
              font-size: 0.875rem;
            }
          }
        }

        .github,
        .link {
          &:hover {
            color: var(--pointColor);
          }
        }
      }

      .techStack {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          @include tablet {
            gap: 0.5rem;
          }

          li {
            font-size: 1rem;
            font-weight: 300;
            border: 1px solid $fontColor;
            border-radius: 100px;
            padding: 0.3rem 1rem;
            @include tablet {
              font-size: 0.8125rem;
              padding: 0.2rem 0.75rem;
            }
          }
        }
      }

      .pageWrap {
        .pageList {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .pageItem {
            .pageTitle {
              font-size: 1.25rem;
              font-weight: 600;
              @include tablet {
                font-size: 1rem;
              }
            }

            .skillDescription {
              margin: 0.5rem 0 1rem 0.5rem;
              display: flex;
              flex-direction: column;
              gap: 8px;

              li {
                position: relative;
                padding-left: 1rem;
                line-height: 1.7;
                @include fontSize;
                @include mobile {
                  padding-left: 0.8rem;
                }

                &::after {
                  @include dot;
                }
              }
            }

            img {
              width: 100%;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
